.main {
    width: 100%;
    min-height: 100vh;
    background: $main-bg;

    @include media-breakpoint-up(md) {
        width: calc(100% - #{$aside-width});
        margin-left: $aside-width;
    }
}
