.nav {
    &-list {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &-item {
        padding: .5rem 1.25rem;

        a {
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}
