.autocomplete {
    position: relative;

    &-dropdown {
        width: 100%;
        position: absolute;
        top: 100%;
        margin-top: .5rem;
        border: 1px solid $input-border-color;
        z-index: 10;
    }

    &-option {
        display: block;
        padding: .5rem .75rem;
        background: $gray-100;
        border-bottom: 1px solid $gray-200;
        text-decoration: none;
    }
}
