.autocomplete {
    position: relative;

    &-dropdown {
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        background: $gray-100;
        position: absolute;
        top: 100%;
        margin-top: .5rem;
        border: 1px solid $input-border-color;
        z-index: 10;
    }

    &-option {
        display: block;
        padding: .5rem .75rem;
        background: $gray-100;

        & + & {
            border-top: 1px solid $gray-200;
        }
    }
}
