.form {
    &-footer {
        margin: 3rem -1rem -1rem;
        padding: 1rem;
        text-align: right;
        background: lighten($main-bg, 2%);
        border-top: 1px solid $table-border-color;
        border-radius: 0 0 $border-radius $border-radius;
    }
}
